@model HoopLeague.Models.ViewModels.Admin.TrenerListViewModel
@{
    Layout = null;
    var timovi = ViewBag.Timovi as IEnumerable<dynamic>;
    var drzave = ViewBag.Drzave as IEnumerable<dynamic>;
}

<!doctype html>
<html lang="sr">
<head>
    <meta charset="utf-8" />
    <title>Novi trener</title>

    <style>
        body {
            font-family: Arial;
            padding: 30px;
        }

        label {
            display: block;
            margin-top: 12px;
        }

        input, select {
            width: 300px;
            padding: 6px;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
        }
    </style>
</head>

<body>

    <h1>Dodaj trenera</h1>

    <form method="post" action="/Admin/Treneri/Novi">
        @Html.AntiForgeryToken()

        <label>Ime</label>
        <input asp-for="Ime" />

        <label>Prezime</label>
        <input asp-for="Prezime" />

        <select name="Uloga">
            <option value="1">Glavni Trener</option>
            <option value="2">Pomoćni Trener</option>
        </select>

        <label>Država</label>
        <input asp-for="DrzavaId">
            

        <label>Tim</label>
        <select asp-for="TimId">
            @foreach (var t in timovi)
            {
                <option value="@t.Id">@t.Naziv</option>
            }
        </select>

        <label>Datum rođenja</label>
        <input asp-for="DatumRodjenja" type="date" />

        <label>URL slike</label>
        <input asp-for="UrlSlika" />

        <br />
        <button type="submit">Sačuvaj</button>
        <a href="/Admin/Treneri">Otkaži</a>
    </form>

</body>
</html>