<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoopLeague</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HoopLeague.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg custom-navbar">
            <div class="container">

                <!-- LOGO -->
                <a class="navbar-brand fw-bold text-white" asp-controller="Home" asp-action="Index">
                    HoopLeague
                </a>

                <!-- TOGGLER -->
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- MENU -->
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav ms-auto align-items-center">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Vesti">Vesti</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Timovi">Timovi</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Igraci">Igrači</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Utakmice">Utakmice</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Statistike">Statistika</a>
                        </li>

                        <li class="nav-item ms-2">
                            <a class="btn btn-admin" asp-controller="Admin" asp-action="Index">
                                Admin
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- ===================== U UPPER FOOTER ===================== -->

    

    <!-- ===================== MAIN FOOTER ===================== -->

    <footer class="main-footer">

        

        <div class="footer-bottom">

            <div class="upper-footer">
                <h1>#HOOPLEAGUE</h1>
            </div>

            

        </div>

    </footer>

</body>
</html>
