@model List<HoopLeague.Models.ViewModels.VestViewModel>

@{
    ViewData["Title"] = "Vesti";

    var mainNews = Model?.FirstOrDefault();
    var otherNews = Model?.Skip(1).ToList() ?? new List<HoopLeague.Models.ViewModels.VestViewModel>();
}



<div class="news-section">
    

        <!-- VELIKA VEST -->
        <div class="news-main">
            <img src="~/@mainNews.SlikaUrl" />

            <div class="news-main-content">
                <div class="news-main-title">@mainNews.Naslov</div>
                <div class="news-main-read">2 min čitanja</div>
                <span class="news-date">@mainNews.Datum.ToString("dd. MMMM yyyy")</span>
            </div>
        </div>

        <!-- MALE VESTI -->
        <div class="news-grid">
            @foreach (var v in otherNews)
            {
                <div class="news-card">
                    <img src="~/@v.SlikaUrl" />

                    <div class="news-card-content">
                        <div class="news-card-title">@v.Naslov</div>
                        <span class="news-date">@v.Datum.ToString("dd. MMMM yyyy")</span>
                    </div>

                </div>

            }
        </div>
        

</div>

